{% extends 'base.html' %}
{% block title %}Ошибка{% endblock %}
{% block content %}
<main>
    <section class="section container">
        <div class="sectoin__body">
            <div class="error">
                <div class="error__main">
                    <div class="error__body">
                        <img src="/static/img/dead.svg" alt="" class="error__image" width="200" height="200" loading="lazy">
                        <div class="error__title ">
                            <p style="margin-top: 0px;">Ничего нет, возможно страница была удалена</p>
                        </div>
                        <div class="error__text">
                            <p>Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей</p>
                        </div>
                        <div class="stages__buttons" style="margin-left: auto; margin-right: auto;">
                            <button class="stages__buttons-help hero__info-button">Получить консультацию</button>
                            <button class="stages__buttons-whatsapp">
                            <img src="/static/img/cta_button.png" alt="" class="stages__buttons-img">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}