{% extends 'base.html' %}
{% block title %}Контакты{% endblock %}
{% block content %}
<section class="breadcrumbs container">
    <nav class="breadcrumbs__content">
        <p><a href="{% url 'index' %}">Главная</a></p>
        <p><a href="{% url 'catalog' %}">Каталог</a></p>
        {% if current_country %}
            <p aria-current="page">{{ page_title }}</p>
        {% endif %}
    </nav>
</section>
<section class="catalog container">
    <h1 class="catalog__header catalog__header--{{ current_country|default:'default' }}">
        {{ page_title }}
    </h1>
    <div class="catalog__filter">
        <form class="catalog__filter-inner" method="GET" action="{% if current_country %}{% url 'catalog_by_country' current_country %}{% else %}{% url 'catalog' %}{% endif %}">
            <div class="catalog__filter-row">
                <div class="catalog__filter-container">
                    <input class="catalog__filter-input" type="text" name="brand" placeholder="Марка авто" value="{{ request.GET.brand }}">
                </div>
                <div class="catalog__filter-container">
                    <input class="catalog__filter-input" type="text" name="model" placeholder="Модель авто" value="{{ request.GET.model }}">
                </div>
            </div>
            <div class="catalog__filter-row">
                <div class="catalog__filter--double">
                    <input class="catalog__filter-input--double" type="number" name="year_from" placeholder="Год от" value="{{ request.GET.year_from }}">
                    <span class="catalog__filter-separator">|</span>
                    <input class="catalog__filter-input--double" type="number" name="year_to" placeholder="до" value="{{ request.GET.year_to }}">
                </div>

                <div class="catalog__filter--double">
                    <input class="catalog__filter-input--double" type="number" name="mileage_from" placeholder="Пробег от, км" value="{{ request.GET.mileage_from }}">
                    <span class="catalog__filter-separator">|</span>
                    <input class="catalog__filter-input--double"type="number" name="mileage_to" placeholder="до" value="{{ request.GET.mileage_to }}">
                </div>
            </div>
            <div class="catalog__filter-row">
                <div class="catalog__filter--double">
                    <input class="catalog__filter-input--double" type="number" name="engine_from" placeholder="Объем от, л" value="{{ request.GET.engine_from }}">
                    <span class="catalog__filter-separator">|</span>
                    <input class="catalog__filter-input--double" type="number" name="engine_to" placeholder="до" value="{{ request.GET.engine_to }}">
                </div>
                <div class="catalog__filter-container">
                    <input class="catalog__filter-input" type="text" name="transmission" placeholder="Тип КПП" value="{{ request.GET.transmission }}">
                </div>
            </div>
            <div class="catalog__filter-row">
                <div class="catalog__filter-container">
                    <input class="catalog__filter-input" type="text" name="drive" placeholder="Привод" value="{{ request.GET.drive }}">
                </div>
                <div class="catalog__filter-container">
                    <input class="catalog__filter-input" type="text" name="color" placeholder="Цвет" value="{{ request.GET.color }}">
                </div>
            </div>
            <button class="catalog__filter-button">
                Показать
            </button>
            <input type="hidden" name="page" value="{{ page_obj.number }}">
        </form>
    </div>
</section>

<section class="container">
    <div class="swiper-container">
      <div class="swiper__info">
        <div class="swiper__title">
          <p class="swiper__title-text">Популярные</p>
          <p class="swiper__title-text swiper__title-text--car">авто</p>
        </div>
        <div class="swiper__nav hidden-mobile">
          <div class="custom-prev">
            <svg width="55" height="13" viewBox="0 0 55 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.182812 6.30746L5.80781 0.68246C5.92509 0.565185 6.08415 0.4993 6.25 0.4993C6.41585 0.4993 6.57491 0.565185 6.69219 0.68246C6.80946 0.799736 6.87535 0.958795 6.87535 1.12465C6.87535 1.2905 6.80946 1.44956 6.69219 1.56683L2.1336 6.12465L54.375 6.12465C54.5408 6.12465 54.6997 6.1905 54.8169 6.30771C54.9342 6.42492 55 6.58389 55 6.74965C55 6.91541 54.9342 7.07438 54.8169 7.19159C54.6997 7.3088 54.5408 7.37465 54.375 7.37465L2.1336 7.37465L6.69219 11.9325C6.80946 12.0497 6.87535 12.2088 6.87535 12.3746C6.87535 12.5405 6.80946 12.6996 6.69219 12.8168C6.57491 12.9341 6.41585 13 6.25 13C6.08415 13 5.92509 12.9341 5.80781 12.8168L0.182812 7.19184C0.124702 7.13379 0.0786029 7.06486 0.0471502 6.98899C0.0156975 6.91311 -0.000491557 6.83178 -0.00049155 6.74965C-0.000491542 6.66751 0.0156975 6.58618 0.0471502 6.51031C0.0786029 6.43444 0.124702 6.36551 0.182812 6.30746Z" fill="white"/>
            </svg>            
          </div>
          <div class="custom-next">
            <svg width="55" height="13" viewBox="0 0 55 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M54.8172 7.1918L49.1922 12.8168C49.0749 12.9341 48.9159 13 48.75 13C48.5841 13 48.4251 12.9341 48.3078 12.8168C48.1905 12.6995 48.1247 12.5405 48.1247 12.3746C48.1247 12.2088 48.1905 12.0497 48.3078 11.9324L52.8664 7.37462H0.625C0.45924 7.37462 0.300269 7.30877 0.183059 7.19156C0.0658485 7.07435 0 6.91538 0 6.74962C0 6.58385 0.0658485 6.42488 0.183059 6.30767C0.300269 6.19046 0.45924 6.12462 0.625 6.12462H52.8664L48.3078 1.5668C48.1905 1.44953 48.1247 1.29047 48.1247 1.12462C48.1247 0.958763 48.1905 0.799703 48.3078 0.682428C48.4251 0.565152 48.5841 0.499268 48.75 0.499268C48.9159 0.499268 49.0749 0.565152 49.1922 0.682428L54.8172 6.30743C54.8753 6.36547 54.9214 6.4344 54.9529 6.51028C54.9843 6.58615 55.0005 6.66748 55.0005 6.74962C55.0005 6.83175 54.9843 6.91308 54.9529 6.98895C54.9214 7.06483 54.8753 7.13376 54.8172 7.1918Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-wrapper">
  
        {% with cars|first as main_car %}
        <div class="swiper-slide swiper__main-slide ">
          <div class="swiper__card ">
            <div class="swiper__main-slide-wrapper ">
              <div class="inner-slider__wrapper ">
                <div class="swiper inner-slider">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <img class="inner-slider__img" src="/static/img/car-slider-main.png" alt="Car 1">
                    </div>
                    <div class="swiper-slide">
                      <img class="inner-slider__img" src="/static/img/car-slider.png" alt="Car 2">
                    </div>
                    <div class="swiper-slide">
                      <img class="inner-slider__img" src="/static/img/car-slider-main.png" alt="Car 3">
                    </div>
                  </div>
                  <div class="inner-slider__pagination">
                    <button class="inner-slider__pagination-bullet" data-index="0"></button>
                    <button class="inner-slider__pagination-bullet" data-index="1"></button>
                    <button class="inner-slider__pagination-bullet" data-index="2"></button>
                  </div>
                </div>
              </div>
              <div class="swiper__main-info-wrapper">
                <div class="swiper__main-title">
                  <h3 class="swiper__main-title-name">{{ main_car.brand_country.brand }} {{ main_car.model }}</h3>
                  <p class="swiper__main-title-desc">{{ main_car.year }} • {{ main_car.transmission }} • {{ main_car.mileage }} км</p>
                </div>
                <div class="swiper__main-order">
                  <h3 class="swiper__main-order-price_new">{{ main_car.price_new }} ₽</h3>
                  <button onclick="" class="swiper__main-order-button">Оставить заявку</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endwith %}
      
        {% for car in cars|slice:"1:11" %}
        <div class="swiper-slide swiper__standart-slide">
          <div class="swiper__card-standart">
            <div class="swiper__main-title">
              <h3 class="swiper__main-title-name">{{ car.brand_country.brand }} {{ car.model }}</h3>
              <p class="swiper__main-title-desc">{{ car.year }} • {{ car.transmission }} • {{ car.mileage }} км</p>
            </div>
            <div class="swiper__card-image-wrapper">
              <img class="swiper__card-image" src="/static/img/car-slider.png" alt="Car">
            </div>
            <div class="swiper__main-order">
              <h3 class="swiper__main-order-price_new">{{ car.price_new }} ₽</h3>
              <button class="swiper__main-order-button swiper__main-order-button">Оставить заявку</button>
            </div>
          </div>
        </div>
        {% endfor %}
  </div>
</section>


<section id="results" class="catalog__nothing" style="display: flex;">
    <div id="no-results" style="display: none;">
        <img src="/static/img/luparight.png" alt="" style=" width: 40; height: 40; padding-right: 24px; ">
        <div class="hs__description" >
            <p >К сожалению, по заданным параметрам ничего не найдено.<br> 
                Попробуйте изменить условия поиска.</p>
        </div>
    </div>
</section>


<section class="catalog__card-inner container">
    {% for car in page_obj %}
    <a href="{% url 'car_detail' car.id %}"> 
    <div class="catalog__card">
        <div class="catalog__card-title">
            <h3 class="catalog__card-title-name">{{ car.brand_country.brand }} {{ car.model }}</h3>
            <p class="catalog__card-title-desc">{{ car.year }} · {{ car.drive }} · {{ car.mileage }}</p>
        </div>
        <div class="catalog__card-image-wrapper">
            <img  class="catalog__card-image" src="/static/img/car-slider.png" alt="Car">
        </div>
        <div class="catalog__card-order">
            <h3 class="catalog__card-order-price_new">{{ car.price_new }} Р</h3>
            <button class="catalog__card-button" >Оставить заявку</button>
        </div>
    </div>
    <a>
    {% endfor %}
</section>

<div class="pagination container">
    <div class="pagination__inner">
    {% if page_obj.paginator.num_pages > 1 %}
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <span class="pagination__item pagination__item--active">{{ num }}</span>
            {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                <a class="pagination__item" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
            {% elif num == 1 or num == page_obj.paginator.num_pages %}
                <a class="pagination__item" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
            {% elif num == page_obj.number|add:'-4' or num == page_obj.number|add:'4' %}
                <span class="pagination__dots">...</span>
            {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
            <a class="pagination__next" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                Следущая
            </a>
        {% endif %}
    {% endif %}         
    </div>
</div>
<section class="contact-form container" style="padding-top: 160px;">
    <div class="contact-form__titles">
      <h1 class="contact-form__header">
        Контактная информация👋
      </h1>
      <h3 class="contact-form__subheader">Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей</h3>
      <div class="contact-form__list">
        <div class="contact-form__item">
          <h5 class="contact-form__item-subtitle">Звонок по России бесплатный</h5>
          <h4 class="contact-form__item-title">8 800 550 48 32</h4>
        </div>
        <div class="contact-form__item">
          <h5 class="contact-form__item-subtitle">WhatsApp</h5>
          <h4 class="contact-form__item-title">+7 (924) 420-24-32</h4>
        </div>
        <div class="contact-form__item">
          <h5 class="contact-form__item-subtitle">Офис</h5>
          <h4 class="contact-form__item-title">г. Владивосток, ул. Тополевая 6</h4>
        </div>
      </div>
    </div>
    <form class="contact-form__form" method="POST" action="{% url 'send_feedback' %}">
      {% csrf_token %}
      <div class="contact-form__form-row">
          <div class="contact-form__form-group">
              <label for="name" class="contact-form__form-label">Имя</label>
              <input type="text" id="name" name="name" class="contact-form__form-input" placeholder="Введите имя" required>
          </div>
          <div class="contact-form__form-group">
              <label for="phone" class="contact-form__form-label">Телефон</label>
              <input type="tel" id="phone" name="phone" class="contact-form__form-input" placeholder="+7" required>
          </div>
      </div>
      <div class="contact-form__form-group">
          <label for="message" class="contact-form__form-label">Уточните свой вопрос</label>
          <textarea id="message" name="message" class="contact-form__form-textarea" placeholder="Введите текст сообщения, укажите страну, марку и год машины." required></textarea>
      </div>
      <div class="contact-form__form-policy">
          <label class="contact-form__form-checkbox">
              <input type="checkbox" required>
              <span class="custom-checkbox"></span>
              <span class="contact-form__form-checkbox-text">
                  С <a href="#" class="contact-form__form-link">правилами политики конфиденциальности</a> ознакомлен
              </span>
          </label>
      </div>
      <button type="submit" class="contact-form__form-submit">Отправить</button>
  </form>
  
  </section>
  <section class="socials container">
    <div class="socials__background"></div>
    <div class="socials__stripe"></div>
    <div class="socials__wrapper">
      <div class="socials__img-wrapper">
        <img class="socials__img" src="/static/img/socials.png" alt="">
      </div>
      <div class="socials__content">
        <div class="socials__header">
          <div class="socials__header-text-top">
            <h3 class="socials__header-text socials__header-text--red">
              Подпишись
            </h3>
            <h3 class="socials__header-text">
              И не упусти
            </h3>
          </div>
          <div class="socials__header-text-bottom">
            <h3 class="socials__header-text">
             Свой автомобиль мечты
            </h3>
          </div>
        </div>
        <div class="socials__links">
          <div class="socials__links-item">
            <div class="socials__links-img-wrapper">
    
              <img class="socials__links-img" src="/static/img/tg.png" alt="">
            </div>
            <a href=""><h4 class="socials__links-text">Телеграм-канал</h4></a>
            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.50028 0.5V7C9.50028 7.13261 9.4476 7.25979 9.35383 7.35355C9.26006 7.44732 9.13289 7.5 9.00028 7.5C8.86767 7.5 8.74049 7.44732 8.64672 7.35355C8.55296 7.25979 8.50028 7.13261 8.50028 7V1.70687L1.35403 8.85375C1.26021 8.94757 1.13296 9.00028 1.00028 9.00028C0.867596 9.00028 0.740348 8.94757 0.646528 8.85375C0.552708 8.75993 0.5 8.63268 0.5 8.5C0.5 8.36732 0.552708 8.24007 0.646528 8.14625L7.7934 1H2.50028C2.36767 1 2.24049 0.947321 2.14672 0.853553C2.05296 0.759785 2.00028 0.632608 2.00028 0.5C2.00028 0.367392 2.05296 0.240215 2.14672 0.146447C2.24049 0.0526785 2.36767 0 2.50028 0H9.00028C9.13289 0 9.26006 0.0526785 9.35383 0.146447C9.4476 0.240215 9.50028 0.367392 9.50028 0.5Z" fill="white" fill-opacity="0.5"/>
            </svg>
          </div>
          <div class="socials__links-item">
            <div class="socials__links-img-wrapper">
              <img class="socials__links-img" src="/static/img/VK-blue.png" alt="">
            </div>
            <a href=""><h4 class="socials__links-text">VK</h4></a>
            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.50028 0.5V7C9.50028 7.13261 9.4476 7.25979 9.35383 7.35355C9.26006 7.44732 9.13289 7.5 9.00028 7.5C8.86767 7.5 8.74049 7.44732 8.64672 7.35355C8.55296 7.25979 8.50028 7.13261 8.50028 7V1.70687L1.35403 8.85375C1.26021 8.94757 1.13296 9.00028 1.00028 9.00028C0.867596 9.00028 0.740348 8.94757 0.646528 8.85375C0.552708 8.75993 0.5 8.63268 0.5 8.5C0.5 8.36732 0.552708 8.24007 0.646528 8.14625L7.7934 1H2.50028C2.36767 1 2.24049 0.947321 2.14672 0.853553C2.05296 0.759785 2.00028 0.632608 2.00028 0.5C2.00028 0.367392 2.05296 0.240215 2.14672 0.146447C2.24049 0.0526785 2.36767 0 2.50028 0H9.00028C9.13289 0 9.26006 0.0526785 9.35383 0.146447C9.4476 0.240215 9.50028 0.367392 9.50028 0.5Z" fill="white" fill-opacity="0.5"/>
            </svg>
          </div>
          <div class="socials__links-item">
            <div class="socials__links-img-wrapper">
              <img class="socials__links-img" src="/static/img/insta.png" alt="">
            </div>
            <a href=""><h4 class="socials__links-text">Instagram</h4></a>
            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.50028 0.5V7C9.50028 7.13261 9.4476 7.25979 9.35383 7.35355C9.26006 7.44732 9.13289 7.5 9.00028 7.5C8.86767 7.5 8.74049 7.44732 8.64672 7.35355C8.55296 7.25979 8.50028 7.13261 8.50028 7V1.70687L1.35403 8.85375C1.26021 8.94757 1.13296 9.00028 1.00028 9.00028C0.867596 9.00028 0.740348 8.94757 0.646528 8.85375C0.552708 8.75993 0.5 8.63268 0.5 8.5C0.5 8.36732 0.552708 8.24007 0.646528 8.14625L7.7934 1H2.50028C2.36767 1 2.24049 0.947321 2.14672 0.853553C2.05296 0.759785 2.00028 0.632608 2.00028 0.5C2.00028 0.367392 2.05296 0.240215 2.14672 0.146447C2.24049 0.0526785 2.36767 0 2.50028 0H9.00028C9.13289 0 9.26006 0.0526785 9.35383 0.146447C9.4476 0.240215 9.50028 0.367392 9.50028 0.5Z" fill="white" fill-opacity="0.5"/>
            </svg>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  

{% endblock %}

{% block scripts %}

    {{ block.super }}
    <script src="/static/js/form.js"></script>
    <script src="/static/js/catalogSwiper.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        const inputs = form.querySelectorAll('input');
        
        function createSuggestionBox(input, items) {
            const suggestionBox = document.createElement('div');
            suggestionBox.className = 'filter-suggestions';
            input.parentNode.style.position = 'relative';
            input.parentNode.appendChild(suggestionBox);

            input.addEventListener('input', function() {
                const value = this.value.toLowerCase();
                suggestionBox.innerHTML = '';
                
                const filtered = items.filter(item => 
                    item.toLowerCase().includes(value)
                );
                
                filtered.forEach(item => {
                    const div = document.createElement('div');
                    div.className = 'suggestion-item';
                    div.textContent = item;
                    div.onclick = () => {
                        input.value = item;
                        suggestionBox.style.display = 'none';
                        form.submit();
                    };
                    suggestionBox.appendChild(div);
                });
                
                suggestionBox.style.display = filtered.length ? 'block' : 'none';
            });

            document.addEventListener('click', function(e) {
                if (!input.contains(e.target) && !suggestionBox.contains(e.target)) {
                    suggestionBox.style.display = 'none';
                }
            });

            input.addEventListener('keypress', function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault();
                    form.submit();
                }
            });
        }

        if (filtered.length === 0) {
        noResultsMessage.style.display = "block"; // Показываем сообщение
    } else {
        noResultsMessage.style.display = "none"; // Скрываем сообщение
        filtered.forEach(item => {
            const div = document.createElement("div");
            div.textContent = item;
            resultsContainer.appendChild(div);
        });
    }
}
        const brandInput = document.querySelector('input[name="brand"]');
        const modelInput = document.querySelector('input[name="model"]');
        const brands = {{ brands_json|safe }};
        createSuggestionBox(brandInput, brands);

        if (brandInput.value) {
            const models = {{ models_by_brand|safe }}[brandInput.value] || [];
            createSuggestionBox(modelInput, models);
        }

        brandInput.addEventListener('change', function() {
            const brand = this.value;
            if (brand) {
                const models = {{ models_by_brand|safe }}[brand] || [];
                createSuggestionBox(modelInput, models);
            }
        });

        createSuggestionBox(document.querySelector('input[name="transmission"]'), {{ transmissions_json|safe }});
        createSuggestionBox(document.querySelector('input[name="drive"]'), {{ drives_json|safe }});
        createSuggestionBox(document.querySelector('input[name="color"]'), {{ colors_json|safe }});

        inputs.forEach(input => {
            if (input.type === 'number') {
                input.addEventListener('keypress', function(e) {
                    if (e.key === 'Enter') {
                        e.preventDefault();
                        form.submit();
                    }
                });
            }
        });
    });
</script>
{% endblock %}