{% extends 'base.html' %}
{% block title %}Акции{% endblock %}
{% block content %}
    <main class="content">
        <section class="section container">
            <div class="sectoin__body">
                <div class="promo">
                    <div class="promo__title ">
                        <h1 style="margin-top: 0px;">Акции</h1>
                    </div>
                    <div class="fon">
                        <div class="promo__main">
                            <div class="promo__body">
                                <div class="promo__zagolovok">
                                    <h3 class="promo__zagolovok--min">Приведи друга</h3>
                                    <img src="/static/img/good.png" alt="" class="promo__zagolovok--img">
                                </div>
                                <div class="promo__description">
                                    <p>Каждый третий клиент обращается к нам по рекомендации знакомых, друзей, родственников. Этот факт нас безумно радует, и в знак благодарности мы запустили акцию “Приведи друга”.</p>
                                    <ul class="promo__description--list">
                                        <li class="promo__description--item">
                                            <img src="/static/img/one.png" alt="" class="promo__description--item--img">
                                            <p>Вы рекомендуете нашу компанию;</p>
                                        </li>
                                        <li class="promo__description--item">
                                            <img src="/static/img/two.png" alt="" class="promo__description--item--img">
                                            <p>По вашей рекомендации человек заключает с нами договор на приобретение автомобиля;</p>
                                        </li>
                                        <li class="promo__description--item">
                                            <img src="/static/img/three.png" alt="" class="promo__description--item--img">
                                            <p>Вы получаете денежное вознаграждение или скидку на следующий заказ.</p>
                                        </li>
                                    </ul>
                                    <p>Более подробную информацию можно узнать у наших менеджеров.</p>
                                </div>
                                <div class="stages__buttons">
                                    <button class="stages__buttons-help hero__info-button">Получить консультацию</button>
                                    <button class="stages__buttons-whatsapp">
                                    <img src="/static/img/cta_button.png" alt="" class="stages__buttons-img">
                                    </button>
                                </div>
                            </div>
                            <img src="/static/img/promo1.svg" alt="" class="promo__image" width="540" height="443.23" loading="lazy">
                    </div>
                </div>
            </div>
        </section>
        <section class="section container">
            <div class="sectoin__body">
                <div class="promo">
                    <div class="fon1">
                        <div class="promo__main">
                            <div class="promo__body">
                                <div class="promo__zagolovok">
                                    <h3 class="promo__zagolovok--min">Оптовые заказы </h3>
                                    <img src="/static/img/minicar.png" alt="" class="promo__zagolovok--img1"  width="70"  height="40" style="padding-left: 10px;">
                                </div>
                                <div class="promo__description">
                                    <p>Если вы планируете заказать сразу более 1 автомобиля, то для вас действует система лояльности - 10% скидка на комиссию компании на каждый последующий автомобиль в заказе.</p>
                                </div>
                                <div class="stages__buttons">
                                    <button class="stages__buttons-help hero__info-button" onclick="overlayMenu.showModal()" >Оставить заявку</button>
                                </div>
                            </div>
                            <img src="/static/img/promo2.png" alt="" class="promo__image" width="540" height="291" loading="lazy">
                    </div>
                </div>
            </div>
        </section>


        <section class="section container">
            <div class="sectoin__body">
                <div class="promo">
                    <div class="fon2">
                        <div class="promo__main">
                            <div class="promo__body">
                                <div class="promo__zagolovok">
                                    <h3 class="promo__zagolovok--min">Оплата депозита двумя частями</h3>
                                    <img src="/static/img/heands.png" alt="" class="promo__zagolovok--img">
                                </div>
                                <div class="promo__description">
                                    <p>За долгие годы работы мы выработали для вас идеальную схему работы.
                                        Представьте, что Мы нашли для вас идеальный вариант автомобиля, но у вас нет полной суммы для оплаты депозита на руках. </p>
                                    <p>Не проблема! В нашей компании вы может оплатить депозит частями. Первую часть депозита оплачиваете в момент заключения договора, вторую - после покупки автомобиля.</p>
                                    <p>Важно уточнить, что конечная цена от этого не изменится.
                                        Делаем все для вашего удобства и доверия.</p>

                                </div>
                                <div class="stages__buttons">
                                    <button class="stages__buttons-help hero__info-button" onclick="overlayMenu.showModal()" >Оставить заявку</button>
                                </div>
                            </div>
                            <img src="/static/img/promo3.png" alt="" class="promo__image" width="540" height="440" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="modal2">
                <dialog id="overlayMenu" class="modal2__up2" style="width: 640px; height: 572px; padding-top: 40px;">
                    <form method="dialog">
                        <button type="submit" class="modal__close">
                            <img src="/static/img/close.svg" alt="">
                        </button>
                    </form>
                    <h3 class="modal2__title" style="margin-bottom: 24px;">Оставить заявку</h3>
                    <p class="modal2__text" style="padding-bottom: 0px; width: 560px; height: 62px; ">Оставьте заявку и менеджер отправит Вам актуальные варианты автомобилей под Ваши требования 👨‍💻</p>
                    <form class="contact-form__form" method="POST" action="{% url 'send_feedback' %}" style="
                    padding-top: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 0px; ">
                        {% csrf_token %}
                        <div class="contact-form__form-row"     style= "padding-top: 24px; border-top: 1px solid #FFFFFF1A;" >
                            <div class="contact-form__form-group">
                                <label for="name" class="contact-form__form-label">Имя</label>
                                <input type="text" id="name" name="name" class="contact-form__form-input" placeholder="Введите имя" required>
                            </div>
                            <div class="contact-form__form-group">
                                <label for="phone" class="contact-form__form-label">Телефон</label>
                                <input type="tel" id="phone" name="phone" class="contact-form__form-input" placeholder="+7" required>
                            </div>
                        </div>
                        <div class="contact-form__form-group">
                            <label for="message" class="contact-form__form-label">Уточните свой вопрос</label>
                            <textarea id="message" name="message" class="contact-form__form-textarea" placeholder="Введите текст сообщения, укажите страну, марку и год машины." required></textarea>
                        </div>
                        <div class="contact-form__form-policy">
                            <label class="contact-form__form-checkbox">
                                <input type="checkbox" required>
                                <span class="custom-checkbox"></span>
                                <span class="contact-form__form-checkbox-text">
                                    С <a href="#" class="contact-form__form-link">правилами политики конфиденциальности</a> ознакомлен
                                </span>
                            </label>
                        </div>
                        <button type="submit" class="contact-form__form-submit">Отправить</button>
                    </form>
                </dialog>
            </div>
        </section>
        
    </main> 
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% endblock %}