:root{
  --color-dark: #011224;
  --color-white: #FFFFFF;
  --color-red: #D51117;

  --inter-400: "Inter 400", sans-serif;
  --inter-500: "Inter 500", sans-serif;
  --inter-600: "Inter 600", sans-serif;
  --second-family: "Bebas Neue", sans-serif;


  --container-width: 1370px;
  --container-padding-x: 15px;
  --section-padding-y: 50px;
}
