<footer class="footer">
    <div class="container">
      <div class="footer__content">
        <div class="footer__nav">
          <div class="footer__logo">
            <a href="/">
              <img src="/static/img/logo.png" alt="Лого">
            </a>
          </div>
  
          <div class="footer__section">
            <h3 class="footer__title">КАТАЛОГ</h3>
            <ul class="footer__list">
              <li><a href="#">Авто из Кореи</a></li>
              <li><a href="#">Авто из Китая</a></li>
              <li><a href="#">Авто из Японии</a></li>
            </ul>
          </div>
          
          <div class="footer__section--two">
            <h3 class="footer__title">КОМПАНИЯ</h3>
            <ul class="footer__list">
              <li><a href="#">О компании</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Отзывы</a></li>
            </ul>
          </div>
        </div>
  
        <div class="footer__contact">
          <p class="footer__phone-label">Звонок по России бесплатный</p>
          <a href="tel:88005504832" class="footer__phone">8 800 550 48 32</a>
          <div class="footer__socials">
            <a href="#" class="footer__social-link"><img src="/static/img/tg-gray.png" alt="Telegram"></a>
            <a href="#" class="footer__social-link"><img src="/static/img/wh-gray.png" alt="WhatsApp"></a>
            <a href="#" class="footer__social-link"><img src="/static/img/vk-gray.png" alt="VK"></a>
            <a href="#" class="footer__social-link"><img src="/static/img/inst-gray.png" alt="Instagram"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__divider"></div>
    <div class="container">
      <div class="footer__bottom">
        <p class="footer__copyright">© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
        <a href="#" class="footer__policy">Политика конфиденциальности</a>
      </div>
    </div>
  </footer>